<ng-template #content let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <button type="button" class="close no-border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <h1>Login</h1>
        <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" placeholder="Username" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <button class="btn rounded-0 btn-outline-dark" (click)="submitForm()">Login</button>
      </form> -->
      <app-login-modal></app-login-modal>
      <!-- <button type="button" id="toggleButton" class="btn secondary-button-color rounded-0" (click)='toggle()'> New User? </button> -->
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<h5 id="login-link" class="float-right cursor-pointer" (click)='open(content)'>Login</h5>