<div class="wrapper">
    <!-- <label for="article-image" class="custom-image-upload"><fa-icon [icon]="plusSquare"></fa-icon></label> -->
    
    <div contentEditable="true" class="title-input text-cursor" placeholder="Title" name="title" type="text"
      [(contenteditableModel)]="publish.title">

    </div>
    <div contentEditable="true" placeholder="Description" class="description-input text-cursor"  name="description" type="text"
    [(contenteditableModel)]="publish.description">
    </div>

    <div *ngIf="publish.image == null">
      <label for="article-image" class="custom-image-upload">
        <div class="circle">+</div>
      </label>
      <input class="image-input" name="image"  (change)="handleFileInput($event.target.files)"  id="article-image" type="file"/>

     
    </div>
    <div>
      <div *ngIf="publish.image != null">
        <div class="circle neg-marg-left" (click)="remove_image()">-</div>
        <img class="img-fluid" [src]="publish.image"/>
      </div>
    </div>


    <div contenteditable="true" placeholder="Lorem ipsum dolor..."class="content-input text-cursor"  name="content" type="text"
    [(contenteditableModel)]="publish.content">
    </div>


    <button class="btn" (click)="logger()">LOG</button>
</div>


