
.custom-card {
    border: none;
}
.black-text {
    color: black;
    text-decoration: none;
}

.custom-container {
    display: flex;
    // justify-content: center;
}

// .card-body {
//     padding:0px !important
// }
.wrapper {
    display: grid;
    // margin-top: 5%;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 100px;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
}


.inner-wrapper {
    display: grid;
    grid-template: 1fr;

}

.small-title {
    font-size: 12pt;
    font-weight: 700;
}

.small-text {
    font-size: 10pt;
}

.left {
    margin-top: 8%;
}

.right {
    margin-top: 8%;
}

.cover_img {
    object-fit: cover;
}

