<div class="text-center mb-3">
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Sports</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Science</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Medicine</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Politics</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>COVID-19</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Business</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Economics</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Entertainment</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Coffee</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Food</button>
</div>
