<div class="text-center mb-3">
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('sports')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Sports</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('science')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Science</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('medicine')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Medicine</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('politics')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Politics</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('coronavirus')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Coronavirus</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('business')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Business</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('economics')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Economics</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('entertainment')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Entertainment</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('coffee')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Coffee</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('food')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Food</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('technology')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Technology</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('future')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Future</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('artificial intelligence')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Artificial Intelligence</button>
  <button class="d-inline rounded-pill btn btn-light pr-3 m-1" (click)="categoryLink('cryptocurrency')"><span class="bg-dark text-white rounded-circle px-1 mr-2">#</span>Cryptocurrency</button>
</div>
