<div class="dropdown">
  <a id="dropDownMenuButton" class="float-right cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <h1 id="dd-menu-icon">+</h1>
  </a>
  <div class="dropdown-menu dropdown-menu-right mt-5" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="users_articles">My Articles</a>
    <a id="publish-article-button" class="dropdown-item" href="publish">Publish Article</a>
    <a id="logout-button" class="dropdown-item" href="landing" (click)="logout()">Logout</a>
  </div>
</div>